<!-- TITLE -->
<div class="titleArt">
  <div class="titlewords">
    <h1 id = "typedtext" class="title">{{{copy.title}}}</h1>
  </div>
  <div class="titleCredits">
    <h2 class="subTitleArt">{{copy.subtitle}}</h2>
    <p class="credits">By <a href="https://www.leonardonicoletti.com" target="_blank" class="creditLink">{{copy.author1}}</a>
        and <a href="https://twitter.com/sahitisarva" target="_blank" class="creditLink">{{copy.author2}}</a></p>
  </div>
</div>

<!-- INTRO -->
<section class="intro-section">
  {{#each copy.intro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- STACKED BAR SECTION -->
<section id='scrolly-side'>
      <div class='scrolly'>
  
         <figure>
            <div id="stickyStackedChart" class='sticky'></div>
         </figure>
  
        <article id="stackedChartLegend" class="stackedChartDescription">
          {{#each copy.stacked-bar}}
            <div class="step" 
              {{#if id}} id="{{id}}" {{/if}} 
              {{#if word}} word="{{word}}" {{/if}}  
              {{#if theme}} theme="{{theme}}" {{/if}} 
              {{#if color}} color="{{color}}" {{/if}}   
              {{#if task}} task="{{task}}" {{/if}}
              {{#if hovertype}} hovertype="{{hovertype}}" {{/if}}
              data-index="{{data-index}}">
              {{#if text}}
                <div class="step-inner">
                  {{#each text}}
                    <p class="scrolltext">{{{value}}}</p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </article>
     </div>
</section>

<section>
   {{!-- <div class="spacer"></div> --}}
   <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section>

<!-- BARBELL SECTION -->
<section class="barbell-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.barbell-headline}}</h2>
  </div>
  <div id="sortLollipop">
    {{#each copy.barbell1}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div id="timeSeriesChart"></div>
  <div id="sortLollipop">
    {{#each copy.barbell2}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div class="barbellLegend">
    <div class="leg1">
      <p class="all-hed">All headlines</p>
      <p class="women-hed">Headlines about women</p>
    </div>
    <div class="leg2">
      <div class="smDot"></div>
      <div class="line"></div>
      <div class="lgDot"></div>
    </div>
  </div>
  <div class="chartLabels barbellLabels">
      <p id="xAxisLabel">← Less Polarizing</p>
      <p id="xAxisLabel">More Polarizing →</p>
  </div>
  <div class="lollipop" class="svg-container" style="text-align: center;">
    <div id="lollipopChart"></div>
  </div>
  {{#each copy.barbell-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE POLARITY SECTION -->
<section class="bubble-section">
  <div class="header">
      <h2 class="sectionHeader">{{copy.polarity-headline}}</h2>
    </div>
    <div class="bubbleFilters">
      <div class="left">
        <p class="annotationButton">Filter by</p>
        <div>
          <select id="countrydropdown" class="dropdownOptions"></select>
          <select id="pubdropdown" class="dropdownOptions"></select>
        </div>
      </div>
      <div class="right">
        <img inline src='touch.svg'>
        <p>Hover over the bubbles to see sample headlines.</p>
      </div>
    </div>
  <section class="headline-polarity-section">
    <div id="chartP" class="svg-container" style="text-align: center;"></div>
    <div class="chartLabels">
      <p id="xAxisLabel">← Less Polarizing</p>
      <p id="xAxisLabel">More Polarizing →</p>
    </div>
    <details>
      <summary>{{copy.notes-headline}}</summary>
      <div class="inner">
        {{#each copy.bubble-notes}}
          <p class="bubble-notes">{{{value}}}</p>
        {{/each}}
      </div>
    </details>
    {{#each copy.polarity-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </section>

  <!-- HEADLINE BIAS SECTION -->
  <section class="headline-bias-section">
    <div class="header" id="biasSection">
      <h2 class="sectionHeader">{{copy.bias-headline}}</h2>
    </div>
    <div id="chartB" class="svg-container" style="text-align: center;"></div>
    <div class="chartLabels">
      <p id="xAxisLabel">← Less Biased</p>
      <p id="xAxisLabel">More Biased →</p>
    </div>
    {{#each copy.bias-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </section>
</section>

<!-- CONCLUSION -->
<section class="conclusion-section">
  <div class="header" id="conclusionSection">
    <h2 class="sectionHeader">{{copy.conclusion-headline}}</h2>
  </div>
  {{#each copy.conclusion}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section> 

<!-- TEMPORAL CHART -->
<section class="temporal-chart-section" id="waveChartSection">
  <div class="header">
    <h2 style = "text-align: center" class="sectionHeader">{{copy.wave-headline}}</h2>
  </div>
  <div class="temporalFilters">
    <div class="left">
        <p class="annotationButton">Filter by</p>
        <div>
          <select id="countrydropdownTemporal" class="dropdownOptions"></select>
        </div>
      </div>
      <div class="right">
        <img inline src='touch.svg'>
        <p>Hover over the circles to see world events.</p>
      </div>
    </div>
  <div id = "stickyXaxis" style="text-align: center;">
    <p>News Events</p>
  </div>
  <div id="smChart" class="svg-container3" style="text-align: center;"></div>
  <!--<div class="fade"></div>-->
  <!--<button class="see-more"><p>See more words</p></button>-->
</section>

<!-- METHODS -->
<section class="methods-section">
  <hr class="methodSep">
  
  <h5 class="inputTitle">Methods</h4>
  {{#each copy.methods}}
    <p class="methodDescription">{{{value}}}</p>
  {{/each}}
</section>  

<!-- TOOLTIPS -->
<div class="tooltip"></div>