<!-- TITLE -->
<div class="titleArt">
  <div class="titlewords">
    <h1 id = "typedtext" class="title">{{{copy.title}}}</h1>
  </div>
  <div class="titleCredits">
    <h2 class="subTitleArt">{{copy.subtitle}}</h2>
    <p class="credits">By <a href="https://pudding.cool/author/leonardo-nicoletti" class="creditLink">{{copy.author1}}</a>
        and <a href="https://pudding.cool/author/sahiti-sarva" class="creditLink">{{copy.author2}}</a></p>
  </div>
</div>

<!-- INTRO -->
<section class="intro-section">
  {{#each copy.intro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- STACKED BAR SECTION -->
<section id='scrolly-side'>
      <div class='scrolly'>
  
         <figure>
            <div id="stickyStackedChart" class='sticky'></div>
         </figure>
  
        <article id="stackedChartLegend" class="stackedChartDescription">
          {{#each copy.stacked-bar}}
            <div class="step" 
              {{#if id}} id="{{id}}" {{/if}} 
              {{#if word}} word="{{word}}" {{/if}}  
              {{#if theme}} theme="{{theme}}" {{/if}} 
              {{#if task}} task="{{task}}" {{/if}}
              data-index="{{data-index}}">
              {{#if text}}
                <div class="step-inner">
                  {{#each text}}
                    <p class="scrolltext">{{{value}}}</p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </article>
     </div>
</section>

<section>
   {{!-- <div class="spacer"></div> --}}
   <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
    <div class="btn-wrapper">
      <button id="shuffle-headlines">Shuffle<img inline src='refresh-cw.svg'></button>
    </div>
  </div>
</section>

<!-- BARBELL SECTION -->
<section class="barbell-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.barbell-headline}}</h2>
  </div>
  <div id="sortLollipop">
    {{#each copy.barbell1}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div id="timeSeriesChart"></div>
  <div id="sortLollipop">
    {{#each copy.barbell2}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>

  <div class="barbellLegend">
    <div class="hed" id="lollipopHed">Most outlets sensationalize headlines about women more than other topics</div>
    <div class="dek" id="lollipopDek">Comparing 65 news outlets over 10 years</div>
    <div class="leg1">
      <p class="all-hed">All headlines</p>
      <p class="women-hed">Headlines about women</p>
    </div>
    <div class="leg2">
      <div class="smDot"></div>
      <div class="line"></div>
      <div class="lgDot"></div>
    </div>
  </div>
  <div class="barbellLabels">
      <p id="xAxisLabel">← Less Polarizing</p>
      <p id="xAxisLabel">More Polarizing →</p>
  </div>

  <div class="barbellButtons">
    <button id="sortLollipopPol" class="lollipopTextbutton-active">absolute polarity score</button>
    <button id="sortLollipopDiff" class="lollipopTextbutton">% difference in the polarity scores</button>
  </div>

  <div class="lollipop" class="svg-container" style="text-align: center;">
    <div id="lollipopChart"></div>
  </div>
  {{#each copy.barbell-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE POLARITY SECTION -->
<section class="bubble-section">
  <div class="header">
      <h2 class="sectionHeader">{{copy.polarity-headline}}</h2>
    </div>
    {{#each copy.polarity-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}
    <div class="bubbleFilters">
      <div class="left">
        <p class="annotationButton">Filter by</p>
        <div>
          <label for="countrydropdown">Filter by country</label>
          <label for="pubdropdown">Filter by publication</label>
          <select style="font-weight: 600" id="countrydropdown" class="dropdownOptions"></select>
          <select style="font-weight: 600" id="pubdropdown" class="dropdownOptions"></select>
        </div>
      </div>
    </div>
    
    <div class="hed" id="polarityHed">News outlets arranged by polarity score</div>

  <section class="headline-polarity-section">
    <div class="bubble-wrapper">
      <div id="chartP" class="svg-container" style="text-align: center;"></div>
      <div class="chartLabels">
        <p id="xAxisLabel" class="xAxisLabel-left">← Less Polarizing</p>
        <p id="xAxisLabel" class="xAxisLabel-right">More Polarizing →</p>
      </div>
      <details>
        <summary>{{copy.notes-headline-pol}}</summary>
        <div class="inner">
          {{#each copy.bubble-notes-pol}}
            <p class="bubble-notes">{{{value}}}</p>
          {{/each}}
        </div>
      </details>
    </div>
  </section>

  <!-- HEADLINE BIAS SECTION -->
  <section class="headline-bias-section">
    <div class="header" id="biasSection">
      <h2 class="sectionHeader">{{copy.bias-headline}}</h2>
    </div>
    {{#each copy.bias-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

    <div class="hed" id="biasHed">News outlets arranged by bias index</div>

    <div class="bubble-wrapper">
      <div id="chartB" class="svg-container" style="text-align: center;"></div>
      <div class="chartLabels">
        <p id="xAxisLabel"class="xAxisLabel-left">← Less Biased</p>
        <p id="xAxisLabel" class="xAxisLabel-right">More Biased →</p>
      </div>
      <details>
        <summary>{{copy.notes-headline-bias}}</summary>
        <div class="inner">
          {{#each copy.bubble-notes-bias}}
            <p class="bubble-notes">{{{value}}}</p>
          {{/each}}
        </div>
      </details>
    </div>
  </section>
</section>

<!-- CONCLUSION -->
<section class="conclusion-section">
  <div class="header" id="conclusionSection">
    <h2 class="sectionHeader">{{copy.conclusion-headline}}</h2>
  </div>
  {{#each copy.conclusion}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section> 

<!-- TEMPORAL CHART -->
<section class="temporal-chart-section" id="waveChartSection">
  <div class="temporalFilters">
    <div class="temporal-wrapper">
      <div class="left">
          <p class="annotationButton">Filter by</p>
          <div>
            <label for="countrydropdownTemporal">Filter by country</label>
            <select style="font-weight: 600" id="countrydropdownTemporal" class="dropdownOptions"></select>
          </div>
        </div>
        <div class="right">
          <div class="categories">
            <button class="btn-theme active-btn-empowerment" id="btn-empowerment">Empowerment</button>
            <button class="btn-theme" id="btn-violence">Crime &#38; Violence</button>
            <button class="btn-theme" id="btn-stereotypes">Gendered Language</button>
            <button class="btn-theme" id="btn-race">Race, Ethnicity, &#38; Identity</button>
          </div>
        </div>
      </div>
    </div>
  <div id = "stickyXaxis" style="text-align: center;">
    <p>News Events</p>
  </div>
  <div id="smChart" class="svg-container3" style="text-align: center;"></div>
  <!--<div class="fade"></div>-->
  <!--<button class="see-more"><p>See more words</p></button>-->
</section>

<!-- METHODS -->
<section class="methods-section">
  <hr class="methodSep">
  
  <h4 class="inputTitle">Methods</h4>
  {{#each copy.methods}}
    <p class="methodDescription">{{{value}}}</p>
  {{/each}}
</section>  

<!-- TOOLTIPS -->
<div class="tooltip"></div>