<!-- TITLE -->
<div class="titleArt">
  <div class="titlewords">
    <h1 id = "typedtext" class="title">{{{copy.title}}}</h1>
  </div>
  <div class="titleCredits">
    <h2 class="subTitleArt">{{copy.subtitle}}</h2><br><br>
    <p class="credits">By <a href="https://www.leonardonicoletti.com" target="_blank" class="creditLink">{{copy.author1}}</a><br>
        and <a href="https://twitter.com/sahitisarva" target="_blank" class="creditLink">{{copy.author2}}</a></p>
  </div>
</div>

<!-- INTRO -->
<section class="intro-section">
  {{#each copy.intro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <ul>
    {{#each copy.intro-questions}}
      <li class="intro-questions">{{{value}}}</li>
    {{/each}}
  </ul>
</section>

<!-- STACKED BAR SECTION -->
{{!-- <section class="stacked-bar-section">
  <div class="stackedBarSection" >
    <div id="stickyStackedChart">
      <svg id="stackedChart"></svg>
    </div>
    <div id="stackedChartLegend">
      {{#each copy.stacked-bar}}
        <p class="stackedChartDescription">{{{value}}}</p>
      {{/each}}
    </div>
  </div>
  <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section> --}}

<section id='scrolly-side'>
      <div class='scrolly'>
  
       <!-- <figure class='sticky'>
           <div class='bar-outer'>
             <div class='bar-inner'></div>
           </div>
         </figure> -->
         <div id="stickyStackedChart" class='sticky'>
          <svg id="stackedChart"></svg>
        </div>
  
       <article id="stackedChartLegend" class="stackedChartDescription">
         <div class='step' task="drawbars" data-index='0'>
           Since 2005, a total of <b>1231 unique words</b> have been used by Indian, South African, English, and American publishers in 
          headlines that report about <b>women</b>. These words are arranged here in a decreasing order of their frequency. 
         </div>

         <div class='step' word="marry" task="highlightwords" hovertype="inTextHover" data-index='1'>
          The same word appears at different ranks in different countries, like   
              <span class="stackedBarTextAnnotation" id="inTextMan" value="marry" hovertype="inTextHover"><b>marry</b></span>,
              <span class="stackedBarTextAnnotation" id="inTextMan" value="wear" hovertype="inTextHover"><b>wear</b></span>, or
              <span class="stackedBarTextAnnotation" id="inTextMan" value="force" hovertype="inTextHover"><b>force</b></span>. 
        </div>

        <div class='step' word="sue" task="highlightwords" hovertype="inTextHover" data-index='2'>
          These countries, although former British colonies, are culturally different. The United States has more stories around the word 
          <span class="stackedBarTextAnnotation" id="inTextMan" value="sue" hovertype="inTextHover"><b>sue</b></span>. 
          It could be because the act is not as common in a country like India or South Africa. Apart from domestic reporting of women 
          involved in suing, the news of American and British residents ‘suing’ also gained international fame from time to time, like when 
          <a href="https://www.reuters.com/article/us-people-jeffrey-epstein-lawsuits-idUSKCN1V61BK" target="_blank" class="intextLink">Two women sued Jeffrey Epstein's estate for $100 million over alleged sex abuse</a> 
          and when <a href="https://www.iol.co.za/entertainment/celebrity-news/international/rihanna-is-suing-her-father-for-exploiting-her-name-18835017" target="_blank" class="intextLink">Rihanna sued her father for exploiting her name</a>.<br><br> 

          Women, especially those as famous as Rihanna, make the news in their multiple identities, as a celebrity, and from time to time, 
          as one of those <a href="https://www.standard.co.uk/insider/fashion/rihanna-beyonce-zendaya-black-women-september-issues-a3905816.html" target="_blank" class="intextLink">rare Black women dominating the fashion industry</a>.<br><br><br><br> 
        </div>

        <div class='step' word="black" task="highlightwords" hovertype="inTextHover" data-index='3'>
          <span class="stackedBarTextAnnotation" id="inTextMan" value="black" hovertype="inTextHover"><b>Black</b></span> 
          women, a marginalized group in the USA, UK and South Africa dominate the news in these countries. Most references to 
          black women in India are from the international news coverage. The most recently independent country of South Africa, 
          still recovering from the impact of apartheid, is proudly reporting about 
          <a href="https://www.iol.co.za/lifestyle/style-beauty/beauty/meet-one-of-sas-most-prominent-black-female-doctors-19730305" target="_blank" class="intextLink">their prominent black female doctors</a>, 
          <a href="https://www.iol.co.za/pretoria-news/sas-pioneering-black-female-philosophy-phd-14875371" target="_blank" class="intextLink">pioneering black female philosophy PhD candidates</a>, 
          while also reporting the events that continue to affect this community.<br><br>

          On the other hand, in a country like India, the racial divide is not as contentious as the religious one.
        </div>

        <div class='step' word="muslim" task="highlightwords" hovertype="inTextHover" data-index='4'>
          There are more Indian stories around the word <span class="stackedBarTextAnnotation" id="inTextMan" value="muslim" hovertype="inTextHover"><b>Muslim</b></span>
           compared to the UK, USA and South Africa. This is because along with international news being reported in India, the local 
           news is also reported with specific mention to the religion of the story’s subject. Like Black women, Muslim women also are 
           affected by <a href="https://www.vox.com/the-highlight/2019/5/20/18542843/intersectionality-conservatism-law-race-gender-discrimination" target="_blank" class="intextLink">intersectionality</a>, 
           that is, they are at a greater disadvantage within society because of gender and racial or 
           religious biases. So any event that hurts the community, like acts of violence, or helps a community, like Rashida Tlaib ad Ilhan Omar 
           becoming the first Mulsim women in Congress, make the headlines. 

        </div>
         <!-- <div class='step' word="man" task="highlightwords" hovertype="inTextHover" data-index='1'>
          Across 4 continents, the words most frequently used in headlines about women are strikingly similar. 
              <span class="stackedBarTextAnnotation" id="inTextMan" value="man" hovertype="inTextHover"><b>man</b></span> tops the charts in all 4 countries, followed by
              <span class="stackedBarTextAnnotation" id="inTextKill" value="kill" hovertype="inTextHover"><b>kill</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="die" hovertype="inTextHover"><b>die</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="police" hovertype="inTextHover"><b>police</b></span>. You get the idea... 
        </div> -->
        <div class='step' word="first" task="highlightwords" hovertype="inTextHover" data-index='5'>
          Continue with another similar word, for example <span class="stackedBarTextAnnotation" id="inTextMarry" value="first" hovertype="inTextHover"><b>first</b></span>
          and talk about the meaning.
       </div>
        <div class='step' theme="violence" task="highlightthemesVS" data-index='6'>
          Introduce themes. In fact, it turns out that most words
              used in headlines about women can be categorized into distinct categories: 
              <span class="stackedBarThemeAnnotation" id="inTextViolence" value="violence"><b>violence</b></span> and 
              <span class="stackedBarThemeAnnotation" id="inTextBias" value="female_bias"><b>women stereotypes</b></span>
        </div>
        <div class='step' word="kill" task="highlightwords" hovertype="inTextHoverThemes" data-index='7'>
          Talk about how there are many stories of violence with words such as  
              <span class="stackedBarTextAnnotation" id="inTextKill" value="kill" hovertype="inTextHover"><b>kill</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="die" hovertype="inTextHover"><b>die</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="police" hovertype="inTextHover"><b>police</b></span>. 
        </div>
        <div class='step' word="pregnant" task="highlightwords" hovertype="inTextHoverThemes" data-index='8'>
          Talk about how there are many stories where women embody gender stereotypes such as  
              <span class="stackedBarTextAnnotation" id="inTextKill" value="mother" hovertype="inTextHover"><b>mother</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="wife" hovertype="inTextHover"><b>wife</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="pregnant" hovertype="inTextHover"><b>pregnant</b></span>. 
        </div>
        <div class='step' theme="empowerement" task="highlightthemesE" data-index='9'>
          Talk about lack of empowerment. But what about language that is <span class="stackedBarThemeAnnotation" id="inTextEmpowerment" value="empowerement"><b>empowering</b></span> towards women?
          Those words rank much lower in the frequency chart...
        </div>
        <div class='step' word="success" task="highlightwords" hovertype="inTextHoverThemes" data-index='10'>
          For example talk about the word 
              <span class="stackedBarTextAnnotation" id="inTextKill" value="success" hovertype="inTextHover"><b>success</b></span>
        </div>
        <!-- <div class='step' word="boss" task="highlightwords" data-index='4'>
          Talk about another word, for example <span class="stackedBarTextAnnotation" id="inTextBoss" value="boss" hovertype="normalHover"><b>boss</b></span>.
        </div> -->
        <div class='step' task="tooltip" data-index='11'>
          Explore and interact with the chart on your own!
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='12'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='13'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='14'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='15'>
        </div>
        {{!-- <div class='step' id="stepSpacer" task="exploreChart" data-index='16'> --}}
        <div class='step' id="stepSpacer" task="themeBarsTransition" data-index='16'>
        </div>
        <!-- <div class='step' id="stepSpacer" task="exploreChart" data-index='11'>
        </div> -->
        <!-- <div class='step' class="spacer" data-index='6' task="none"></div>
        <div class='step' class="spacer" data-index='6' task="none"></div> -->
        {{!-- <div id="themebars" class='step' task="themeBarsTransition" data-index='17'> --}}
        <div id="themebars" class='step' data-index='17'>
          But how much fewer are empowering words compared to violence and women stereotypes?
        </div>
       </article>
       <!-- <div id="themesStackedChart">
        <svg id="themesChart"></svg>
      </div> -->
       
     </div>
</section>
<section>
   <div class="spacer"></div>
   <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section>

<!-- BARBELL SECTION -->
<section class="barbell-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.barbell-headline}}</h2>
  </div>
  <div id="sortLollipop" style="text-align: center;">
    {{#each copy.barbell}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div class="lollipop" class="svg-container" style="text-align: center;">
    <div id="lollipopChart"></div>
  </div>
  {{#each copy.barbell-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE POLARITY SECTION -->
<section class="headline-polarity-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.polarity-headline}}</h2>
  </div>
  <div class="bubbleFilters">
    <p class="annotationButton">Filter by</p>
    <div>
      <select id="countrydropdown" class="dropdownOptions"></select>
      <select id="pubdropdown" class="dropdownOptions"></select>
    </div>
  </div>
  <div id="chartP" class="svg-container" style="text-align: center;">
    <svg id="bubblechartPolarity">
        <g class="xAxispolarity" />
        <g class="yAxispolarity" />
        <g id="bodypolarity" />
    </svg>
  </div>
  {{#each copy.polarity-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE BIAS SECTION -->
<section class="headline-bias-section">
  <div class="header" id="biasSection">
    <h2 class="sectionHeader">{{copy.bias-headline}}</h2>
  </div>
  <div id="chartB" class="svg-container" style="text-align: center;">
    <svg id="bubblechartBias">
        <g class="xAxisbias" />
        <g class="yAxisbias" />
        <g id="bodybias" />
    </svg>
  </div>
  {{#each copy.bias-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- 2 TEMPORAL CHART -->
<section class="temporal-chart-section" id="waveChartSection">
  <div class="header">
    <h2 style = "text-align: center" class="sectionHeader">{{copy.wave-headline}}</h2>
  </div>
  <div class="buttons">
    <p style="text-align: center" class="annotationButton">Filter by country</p>
    <button class="country" value="USA">
      <img inline src='flags/united-states.svg' class="flag">
      <p>United States</p>
    </button>
    <button class="country" value="South Africa">
      <img inline src='flags/south-africa.svg' class="flag">
      <p>South Africa</p>
    </button>
    <button class="country" value="UK">
      <img inline src='flags/united-kingdom.svg' class="flag">
      <p>United Kingdom</p>
    </button>
    <button class="country" value="India">
      <img inline src='flags/india.svg' class="flag">
      <p>India</p>
    </button>
  </div>
  <div id = "stickyXaxis" style="text-align: center;"></div>
  <div id="smChart" class="svg-container3" style="text-align: center;"></div>
</section>

<!-- CONCLUSION -->
<section class="conclusion-section">
  <div class="header" id="conclusionSection">
    <h2 style = "text-align: center" class="sectionHeader">{{copy.conclusion-headline}}</h2>
  </div>
  {{#each copy.conclusion}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <hr class="methodSep">
  
  <h5 class="inputTitle">Methods</h4>
  {{#each copy.methods}}
    <p class="methodDescription">{{{value}}}</p>
  {{/each}}
</section>  

<!-- TOOLTIPS -->
<svg id="tooltipHeadline"></svg>
<div id="tooltipInfo"></div>