<!-- TITLE -->
<div class="titleArt">
  <div class="titlewords">
    <h1 id = "typedtext" class="title">{{{copy.title}}}</h1>
  </div>
  <div class="titleCredits">
    <h2 class="subTitleArt">{{copy.subtitle}}</h2><br><br>
    <p class="credits">By <a href="https://www.leonardonicoletti.com" target="_blank" class="creditLink">{{copy.author1}}</a><br>
        and <a href="https://twitter.com/sahitisarva" target="_blank" class="creditLink">{{copy.author2}}</a></p>
  </div>
</div>

<!-- INTRO -->
<section class="intro-section">
  {{#each copy.intro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <ul>
    {{#each copy.intro-questions}}
      <li class="intro-questions">{{{value}}}</li>
    {{/each}}
  </ul>
</section>

<!-- STACKED BAR SECTION -->
{{!-- <section class="stacked-bar-section">
  <div class="stackedBarSection" >
    <div id="stickyStackedChart">
      <svg id="stackedChart"></svg>
    </div>
    <div id="stackedChartLegend">
      {{#each copy.stacked-bar}}
        <p class="stackedChartDescription">{{{value}}}</p>
      {{/each}}
    </div>
  </div>
  <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section> --}}

<section id='scrolly-side'>
      <div class='scrolly'>
  
       <!-- <figure class='sticky'>
           <div class='bar-outer'>
             <div class='bar-inner'></div>
           </div>
         </figure> -->
         <div id="stickyStackedChart" class='sticky'>
          <svg id="stackedChart"></svg>
        </div>
  
       <article id="stackedChartLegend" class="stackedChartDescription">
         <div class='step' task="drawbars" data-index='0'>
           Since 2005, a total of <b>1231 unique words</b> have been used by Indian, South African, English, and American newsrooms in 
          headlines that speak about <b>women</b>. But do cultural/geographical/political differences influence the way we portray women?
         </div>
         <div class='step' word="steal" task="highlightwords" hovertype="inTextHover" data-index='1'>
          Highlight a word and allow them to hover and see random headlines, for example 
              <span class="stackedBarTextAnnotation" id="inTextMan" value="steal" hovertype="inTextHover"><b>steal</b></span> is a word we could highlight. 
        </div>
        <div class='step' word="study" task="highlightwords" hovertype="inTextHover" data-index='2'>
          Highlight differences between countries, the word  
              <span class="stackedBarTextAnnotation" id="inTextMan" value="study" hovertype="inTextHover"><b>study</b></span> can be the first difference. 
        </div>
        <div class='step' word="marry" task="highlightwords" hovertype="inTextHover" data-index='3'>
          Highlight differences between countries, the word  
              <span class="stackedBarTextAnnotation" id="inTextMan" value="marry" hovertype="inTextHover"><b>marry</b></span> can be the second difference. 
        </div>
        <div class='step' word="man" task="highlightwords" hovertype="inTextHover" data-index='4'>
          Highlight similarities. Start with
              <span class="stackedBarTextAnnotation" id="inTextMan" value="man" hovertype="inTextHover"><b>man</b></span> and talk about the meaning. 
        </div>
         <!-- <div class='step' word="man" task="highlightwords" hovertype="inTextHover" data-index='1'>
          Across 4 continents, the words most frequently used in headlines about women are strikingly similar. 
              <span class="stackedBarTextAnnotation" id="inTextMan" value="man" hovertype="inTextHover"><b>man</b></span> tops the charts in all 4 countries, followed by
              <span class="stackedBarTextAnnotation" id="inTextKill" value="kill" hovertype="inTextHover"><b>kill</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="die" hovertype="inTextHover"><b>die</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="police" hovertype="inTextHover"><b>police</b></span>. You get the idea... 
        </div> -->
        <div class='step' word="first" task="highlightwords" hovertype="inTextHover" data-index='5'>
          Continue with another similar word, for example <span class="stackedBarTextAnnotation" id="inTextMarry" value="first" hovertype="inTextHover"><b>first</b></span>
          and talk about the meaning.
       </div>
        <div class='step' theme="violence" task="highlightthemes" data-index='6'>
          Introduce themes. In fact, it turns out that most words
              used in headlines about women can be categorized into distinct categories: 
              <span class="stackedBarThemeAnnotation" id="inTextViolence" value="violence"><b>violence</b></span> and 
              <span class="stackedBarThemeAnnotation" id="inTextBias" value="female_bias"><b>women stereotypes</b></span>
        </div>
        <div class='step' word="kill" task="highlightwords" hovertype="inTextHoverThemes" data-index='7'>
          Talk about how there are many stories of violence with words such as  
              <span class="stackedBarTextAnnotation" id="inTextKill" value="kill" hovertype="inTextHover"><b>kill</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="die" hovertype="inTextHover"><b>die</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="police" hovertype="inTextHover"><b>police</b></span>. 
        </div>
        <div class='step' word="pregnant" task="highlightwords" hovertype="inTextHoverThemes" data-index='8'>
          Talk about how there are many stories where women embody gender stereotypes such as  
              <span class="stackedBarTextAnnotation" id="inTextKill" value="mother" hovertype="inTextHover"><b>mother</b></span>, 
              <span class="stackedBarTextAnnotation" id="inTextDie" value="wife" hovertype="inTextHover"><b>wife</b></span>,
              and <span class="stackedBarTextAnnotation" id="inTextPolice" value="pregnant" hovertype="inTextHover"><b>pregnant</b></span>. 
        </div>
        <div class='step' theme="empowerement" task="highlightthemes" data-index='9'>
          Talk about lack of empowerment. But what about language that is <span class="stackedBarThemeAnnotation" id="inTextEmpowerment" value="empowerement"><b>empowering</b></span> towards women?
          Those words rank much lower in the frequency chart...
        </div>
        <div class='step' word="success" task="highlightwords" hovertype="inTextHoverThemes" data-index='10'>
          For example talk about the word 
              <span class="stackedBarTextAnnotation" id="inTextKill" value="success" hovertype="inTextHover"><b>success</b></span>
        </div>
        <!-- <div class='step' word="boss" task="highlightwords" data-index='4'>
          Talk about another word, for example <span class="stackedBarTextAnnotation" id="inTextBoss" value="boss" hovertype="normalHover"><b>boss</b></span>.
        </div> -->
        <div class='step' task="tooltip" data-index='11'>
          Explore and interact with the chart on your own!
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='12'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='13'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='14'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='15'>
        </div>
        <div class='step' id="stepSpacer" task="exploreChart" data-index='16'>
        </div>
        <!-- <div class='step' id="stepSpacer" task="exploreChart" data-index='11'>
        </div> -->
        <!-- <div class='step' class="spacer" data-index='6' task="none"></div>
        <div class='step' class="spacer" data-index='6' task="none"></div> -->
        <div class='step' task="themeBarsTransition" data-index='17'>
          But how much fewer are empowering words compared to violence and women stereotypes?
        </div>
       </article>
       <!-- <div id="themesStackedChart">
        <svg id="themesChart"></svg>
      </div> -->
       
     </div>
</section>
<section>
   <div class="spacer"></div>
   <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}

  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section>

<!-- BARBELL SECTION -->
<section class="barbell-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.barbell-headline}}</h2>
  </div>
  <div id="sortLollipop" style="text-align: center;">
    {{#each copy.barbell}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div class="lollipop" class="svg-container" style="text-align: center;">
    <div id="lollipopChart"></div>
  </div>
  {{#each copy.barbell-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE POLARITY SECTION -->
<section class="headline-polarity-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.polarity-headline}}</h2>
  </div>
  <div class="bubbleFilters">
    <p class="annotationButton">Filter by</p>
    <div>
      <select id="countrydropdown" class="dropdownOptions"></select>
      <select id="pubdropdown" class="dropdownOptions"></select>
    </div>
  </div>
  <div id="chartP" class="svg-container" style="text-align: center;">
    <svg id="bubblechartPolarity">
        <g class="xAxispolarity" />
        <g class="yAxispolarity" />
        <g id="bodypolarity" />
    </svg>
  </div>
  {{#each copy.polarity-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE BIAS SECTION -->
<section class="headline-bias-section">
  <div class="header" id="biasSection">
    <h2 class="sectionHeader">{{copy.bias-headline}}</h2>
  </div>
  <div id="chartB" class="svg-container" style="text-align: center;">
    <svg id="bubblechartBias">
        <g class="xAxisbias" />
        <g class="yAxisbias" />
        <g id="bodybias" />
    </svg>
  </div>
  {{#each copy.bias-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- 2 TEMPORAL CHART -->
<section class="temporal-chart-section">
  <div class="header">
    <h2 style = "text-align: center" class="sectionHeader" id="waveChartSection">{{copy.wave-headline}}</h2>
  </div>
  <div class="buttons">
    <p style="text-align: center" class="annotationButton">Filter by country</p>
    <button class="country" value="USA">
      <img inline src='flags/united-states.svg' class="flag">
      <p>United States</p>
    </button>
    <button class="country" value="South Africa">
      <img inline src='flags/south-africa.svg' class="flag">
      <p>South Africa</p>
    </button>
    <button class="country" value="UK">
      <img inline src='flags/united-kingdom.svg' class="flag">
      <p>United Kingdom</p>
    </button>
    <button class="country" value="India">
      <img inline src='flags/india.svg' class="flag">
      <p>India</p>
    </button>
  </div>
  <div id = "stickyXaxis" style="text-align: center;"></div>
  <div id="smChart" class="svg-container3" style="text-align: center;"></div>
</section>

<!-- CONCLUSION -->
<section class="conclusion-section">
  <div class="header" id="conclusionSection">
    <h2 style = "text-align: center" class="sectionHeader">{{copy.conclusion-headline}}</h2>
  </div>
  {{#each copy.conclusion}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <hr class="methodSep">
  
  <h5 class="inputTitle">Methods</h4>
  {{#each copy.methods}}
    <p class="methodDescription">{{{value}}}</p>
  {{/each}}
</section>  

<!-- TOOLTIPS -->
<svg id="tooltipHeadline"></svg>
<div id="tooltipInfo"></div>