<!-- TITLE -->
<div class="titleArt">
  <div class="titlewords">
    <h1 class="title">{{{copy.title}}}</h1>
  </div>
  <div class="titleCredits">
    <h2 class="subTitleArt">{{copy.subtitle}}</h2>
    <p class="credits">By <a href="https://www.leonardonicoletti.com" target="_blank" class="creditLink">{{copy.author1}}</a><br>
        and <a href="https://twitter.com/sahitisarva" target="_blank" class="creditLink">{{copy.author2}}</a></p>
  </div>
</div>

<!-- INTRO -->
<section class="intro-section">
  {{#each copy.intro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <ul>
    {{#each copy.intro-questions}}
      <li class="intro-questions">{{{value}}}</li>
    {{/each}}
  </ul>
</section>

<!-- STACKED BAR SECTION -->
<section class="stacked-bar-section">
  <div class="stackedBarSection" >
    <div id="stickyStackedChart">
      <svg id="stackedChart"></svg>
    </div>
    <div id="stackedChartLegend">
      {{#each copy.stacked-bar}}
        <p class="stackedChartDescription">{{{value}}}</p>
      {{/each}}
    </div>
  </div>
  <div id="endStackedbarSection"></div>
    {{#each copy.stacked-bar-outro}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  <div class="exampleheadlines">
    {{#each copy.example-headlines}}
      <div class="tooltipTL" id="{{tooltip}}">
        <p class="deets">{{date}}  |  {{org}}</p>
        <p class="headline">{{headline}}</p>
      </div>
    {{/each}}
  </div>
</section>

<!-- BARBELL SECTION -->
<section class="barbell-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.barbell-headline}}</h2>
  </div>
  <div id="sortLollipop" style="text-align: center;">
    {{#each copy.barbell}}
      <p class="description">{{{value}}}</p>
    {{/each}}
  </div>
  <div class="lollipop" class="svg-container" style="text-align: center;">
    <div id="lollipopChart"></div>
  </div>
  {{#each copy.barbell-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE POLARITY SECTION -->
<section class="headline-polarity-section">
  <div class="header">
    <h2 class="sectionHeader">{{copy.polarity-headline}}</h2>
  </div>
  <div class="bubbleFilters">
    <p class="annotationButton">Filter by</p>
    <div>
      <select id="countrydropdown" class="dropdownOptions"></select>
      <select id="pubdropdown" class="dropdownOptions"></select>
    </div>
  </div>
  <div id="chartP" class="svg-container" style="text-align: center;">
    <svg id="bubblechartPolarity">
        <g class="xAxispolarity" />
        <g class="yAxispolarity" />
        <g id="bodypolarity" />
    </svg>
  </div>
  {{#each copy.polarity-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- HEADLINE BIAS SECTION -->
<section class="headline-bias-section">
  <div class="header" id="biasSection">
    <h2 class="sectionHeader">{{copy.bias-headline}}</h2>
  </div>
  <div id="chartB" class="svg-container" style="text-align: center;">
    <svg id="bubblechartBias">
        <g class="xAxisbias" />
        <g class="yAxisbias" />
        <g id="bodybias" />
    </svg>
  </div>
  {{#each copy.bias-outro}}
    <p class="description">{{{value}}}</p>
  {{/each}}
</section>

<!-- 2 TEMPORAL CHART -->
<section class="temporal-chart-section">
  <div class="header">
    <h2 style = "text-align: center" class="sectionHeader" id="waveChartSection">{{copy.wave-headline}}</h2>
  </div>
  <div class="buttons">
    <p style="text-align: center" class="annotationButton">Filter by country</p>
    <button class="country" value="USA">
      <img inline src='flags/united-states.svg' class="flag">
      <p>United States</p>
    </button>
    <button class="country" value="South Africa">
      <img inline src='flags/south-africa.svg' class="flag">
      <p>South Africa</p>
    </button>
    <button class="country" value="UK">
      <img inline src='flags/united-kingdom.svg' class="flag">
      <p>United Kingdom</p>
    </button>
    <button class="country" value="India">
      <img inline src='flags/india.svg' class="flag">
      <p>India</p>
    </button>
  </div>
  <div id = "stickyXaxis" style="text-align: center;"></div>
  <div id="smChart" class="svg-container3" style="text-align: center;"></div>
</section>

<!-- CONCLUSION -->
<section class="conclusion-section">
  <div class="header" id="conclusionSection">
    <h2 style = "text-align: center" class="sectionHeader">{{copy.conclusion-headline}}</h2>
  </div>
  {{#each copy.conclusion}}
    <p class="description">{{{value}}}</p>
  {{/each}}
  <hr class="methodSep">
  
  <h5 class="inputTitle">Methods</h4>
  {{#each copy.methods}}
    <p class="methodDescription">{{{value}}}</p>
  {{/each}}
</section>  

<!-- TOOLTIPS -->
<svg id="tooltipHeadline"></svg>
<div id="tooltipInfo"></div>